<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
<ul class="nav navbar-nav">
  <li class="nav-item active">
	  <h2><a class="nav-link navbar-brend mx-5" href= "{% url 'questions:index' %}"><b>Hasker</b></a></h2>
  </li>
</ul>
    {% include "questions/include/_search.html" %}
<ul class="nav navbar-nav">
  {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link btn btn-link" href="{%url 'profiles:profile'%}">{{ user.get_username }}</a>
    </li>
    <li class="nav-item mr-5">
      <a class="nav-link btn btn-link" href="{%url 'profiles:logout'%}">Log out</a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link btn btn-link" href="{%url 'profiles:login'%}">Log in</a>
    </li>
    <li class="nav-item mr-5">
      <a class="nav-link btn btn-link" href="{%url 'profiles:signup'%}">Sign up</a>
    </li>
  {%endif %}
</ul>
</nav>
