{% extends  '__l_right_sidebar.html' %}
{% block title %}{{ block.super }} | Log in {% endblock %}
{% block main_col%}
  {% if user.is_authenticated %}
    <p><a href="{%url 'profiles:logout'%}" class="btn btn-link">Log out</a></p>
  {% else %}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Log in to your account</h4>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ form }}
          <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
