{% extends "__l_right_sidebar.html" %}
{% block main_col%}
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <form action="" method="post">
        {% csrf_token %} {{ form.as_p }} <input type="submit" value="OK">
      </form>
    </div>
    <div class="col-sm-3"></div>
  </div>
{% endblock %}
{% block side_col %}
  {% include "questions/include/_trending.html" %}
{% endblock %}

