{% extends "__base.html" %}

{% block content %}
  <div class="row">
    <div class="col-sm-9">
        {% block main_col %}
        {% endblock %}
	
        {% block pagination %}
          {% include 'include/_pagination.html' %}
        {% endblock %}

	{% block main_col_footer %}
	{% endblock main_col_footer %}
    </div>
    <div class="col-sm-3">
     
      {% block side_col %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
