<div class="row">
  <div class="col-sm-3">
    <h3>Your answer:</h3>
  </div>
  <div class="col-sm-9">
    <form method="post">
      {% csrf_token %} 
      {{ form }} 
      <button type="submit" class="btn btn-primary btn-block">Post answer</button>
    </form>
  </div>
</div><!-- row -->
