  <div class="row">
    <div class="col-sm-3">
	{% include "questions/include/_vote_arrows.html" with model='answer' instance=answer %}
	<a href="{% url 'questions:set_correct' answer.id %}"
	class="btn btn {% if not user.is_authenticated %}disabled{% endif %}">
	 {% if answer.is_correct %}
	   <i class="far fa-check-square fa-x2"></i>
	 {% else %}
	   <i class="far fa-square fa-x2"></i>
	 {%endif%}
	</a> 
    </div>
    <div class="col-sm-9">
      <p class="text-left">{{ answer.content }}</p>
    </div>
  </div><!-- row -->
