  <div class="row">
    <div class="col-sm-3">
      {% include "questions/include/_vote_arrows.html" with model='question' instance=question %}
    </div>
    <div class="col-sm-9">
      <p class="text-left"></p>
      <h3>{{ question }}</h3>
    </div>
  </div><!-- row -->
