<div class="row">
  <div class="col-sm-2">
          <div class="row">
            <div class="col-sm-6">
    		<p class="text-center">{{ q.rating|default_if_none:0 }}</p>
            </div>
            <div class="col-sm-6">
    		<p class="text-center">{{ q.get_answers_count }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
    		<p class="text-center">Votes</p>
            </div>
            <div class="col-sm-6">
    		<p class="text-center">Answers</p>
            </div>
          </div>
  </div>
  <div class="col-sm-6">
          <a class="btn btn" href="{{q.get_absolute_url}}" role="button">{{ q.title }}</a>
          <p class="text-center">{% include "questions/include/_tags.html" %}</p>
  </div>
  <div class="col-sm-4">
    <p class="text-center">{{ q.author }}</p>
    <p class="text-center small align-text-bottom">{{ q.date }}</p>
  </div>
</div>
