<form class ="navbar-form navbar-left" action="{% url 'questions:index' %}" method="GET">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" name="q">
    <div class="input-group-btn">
      <button class="btn btn-defualt" type="submit">
	 <i class="glyphicon glyphicon-search"></i>
      </button>
    </div><!-- input-group-btn -->
  </div><!-- form-group -->
</form>
