<div class="card border-0">
	<div class="card-body d-flex align-items-center justify-content-around">
      <a class="btn btn-primary" href="{% url 'questions:index' %}" role="button">New Questions</a>
    <a class="btn btn-primary" href=
    "{% url 'questions:index' %}?order=rating" role="button">Hot questions</a>
</div>
</div>
