<div class="card">
  <div class="card-body">
    <p class="text-center"><a class="btn btn-dark btn-lg" href="{% url 'questions:ask' %}" role="button">Ask!</a>
    <h4 class="card-title text-center">Trending</h4>
    <ul class="list-group list-group-flush">
      {% for q in trending_list %}
        {% if q.rating %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="btn btn" href="{{q.get_absolute_url}}" role="button">{{ q.title }}</a>
            <span class="badge badge-pill badge-primary">{{q.rating}}</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
