<div class="card py-1 my-1 h-auto text-center" style="width: 3rem;">
  <div class="card-header p-0">
    <a href="{% url 'questions:vote' model instance.id 'up' %}" 
    class="btn btn-link {% if not user.is_authenticated %}disabled{% endif %}">
  	<i class="fas fa-arrow-up"></i></a>
  </div>
  <div class="card-body p-0">
    {{ instance.get_votes_sum|default_if_none:0 }}
  </div>
  <div class="card-footer p-0">
    <a href="{% url 'questions:vote' model instance.id 'down' %}"
    class="btn btn-link {% if not user.is_authenticated %}disabled{% endif %}"><i class="fas fa-arrow-down"></i></a>
  </div>
</div>
